.my-footer {
    width: 100%;
    background-color: #575757;
    color: #fff;
    margin: 1.5em 0 0 0;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
}
.my-footer span {
    width: auto;
}
.room-image {
    max-width: 50%;
}
.notie-container {
    box-shadow: none;
}
.datepicker {
    z-index: 1000;
}
